<!DOCTYPE html>
<html>
  <head>
    <title>PositiveHabitsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100i,400,400i,500i,700,800&display=swap" rel="stylesheet">
    <%= javascript_include_tag 'activities_index' %>
  </head>

  <body class=>

      <%= render 'layouts/navbar'%>

      <div class="p-4 m-4">
      </div>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>


        <%= yield %>
        <% yield :background_image %>

  </body>
</html>
